/*================
Nav
=========================  */
@media (max-width:600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 0;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }
}
/*================
Hero
=========================  */
@media (max-width:600px) {

    .text-container .text {
        font-size: 30px;
    }
    
.text-container p{
    font-size: 15px;
    text-align: left;
} 
}
/* templete */
@media (width <= 980px) {
    #characterContainer {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (width <= 700px) {
     #characterContainer {
        grid-template-columns: repeat(1, minmax(33%, 1fr));
      }
      .card-img{
        /* width: 70%; */
        height: 300px;
      }
}
/* footer */
/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    #menuList1 {
        flex-direction: column; 
    }

    #menuList1 li {
        margin: 0.5rem 0; 
    }
}